name: Run pre-commit

on:
  push:
    branches: [ "main", "course-*" ] # Nên thêm branches vào push để chạy khi commit code
    tags: [ "*" ]
  pull_request:
    branches: [ "main", "course-*" ]

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
